<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name='viewport' content="width=device-width, initial-scale=1"/>
    <title>Music Room</title>
    {% load static %} <!--load our static files/folder, allows us to look at our javascript code that we are bundling-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />
  </head>
  <body>
    <div id="main">
      <div id="app"></div> <!--react code will grab app div, where it will render everything onto the screen-->
    </div>
    
    <script src="{% static "frontend/main.js" %}"></script> <!--load our bundled main js file-->
  </body>
</html>